<div class="container-fluid w-50 mt-3">
    {{{page}}}
    {{!-- <h4>Меню</h4>
    <form action='/save-main-page' method=post enctype='multipart/form-data' id='form1'>
        <div class="form-group">
            <input type="file" name='file' >
        </div>
    </form> --}}
</div>