<div class="container-fluid w-50" style="text-align: center;" id="editor">
    <h3>Astoria Riverside</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta. Fugit numquam maxime aperiam quis, dicta
        blanditiis laudantium perspiciatis nulla reprehenderit necessitatibus. Ad, voluptatem? Odit excepturi fugiat
        doloribus quas optio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta. Fugit numquam
        maxime aperiam quis, dicta
        blanditiis laudantium perspiciatis nulla reprehenderit necessitatibus. Ad, voluptatem? Odit excepturi fugiat
        doloribus quas optio!Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta. Fugit numquam
        maxime aperiam quis, dicta
        blanditiis laudantium perspiciatis nulla reprehenderit necessitatibus. Ad, voluptatem? Odit excepturi fugiat
        doloribus quas optio!Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta. Fugit numquam
        maxime aperiam quis, dicta
        blanditiis laudantium perspiciatis nulla reprehenderit necessitatibus. Ad, voluptatem? Odit excepturi fugiat
        doloribus quas optio!Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta. Fugit numquam
        maxime aperiam quis, dicta
        blanditiis laudantium perspiciatis nulla reprehenderit necessitatibus. Ad, voluptatem? Odit excepturi fugiat
        doloribus quas optio!</p>
    {{!-- <h4>Меню</h4>
    <form action='/save-main-page' method=post enctype='multipart/form-data' id='form1'>
        <div class="form-group">
            <input type="file" name='file' >
        </div>
    </form> --}}
</div>