<div class="container-fluid w-50" style="text-align: center;">
    {{{page}}}
    <table class="table table-bordered mt-4">
        <thead class="thead-light">
            <tr>
                <th scope="col">Название заведения</th>
                <th scope="col">Адрес</th>
                <th scope="col">Оценка</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="/cafe-astoria">1</a></th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row"><a href="#">1</a></th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row"><a href="#">1</a></th>
                <td>Otto</td>
                <td>Larry the Bird</td>
            </tr>
        </tbody>
    </table>
</div>